html {
    margin: 0;
    background-color: #212121;
    color: #fff;
  }

  nav{
    background-color: #27a3a5;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
  }

    nav a{
        color: #fff;
        text-decoration: none;
        padding: 10px;
    }

    nav a:hover{
        background-color: #fff;
        color: #27a3a5;
        border-radius: 5px;
    }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }
  